/*titoli*/

.ricerca {
    size: 30px;
    color: red;
    text-align: center;
}

.container {
    display: flex; /* or inline-flex */
    flex-direction: row;
    justify-content: center;
    padding: 1.5em;
}

.central-part {
    padding: 1em;
}
  