<footer class="footer" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
  <div>
    <p fxFlex="25%" class="footer_descrizione">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure minus quaerat eligendi natus rem quas et quisquam? Veritatis corrupti, qui quidem sapiente recusandae minima eum tenetur itaque labore velit aliquam.</p>
    <p fxFlex="25%" class="footer_contatti">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores ut enim quos id eum dignissimos voluptatum. Quam reprehenderit ea delectus omnis quasi itaque quidem iusto voluptate. Minus nam sequi tempore?</p>
    <p fxFlex="25%" class="footer__link_utilo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur assumenda commodi quidem quos nihil tempora corporis quia repellendus nam. Possimus tempora qui laborum ipsa animi nisi accusamus ab a neque.</p>
    <p fxFlex="25%" class="footer__social">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, optio? A quod provident ea magni consequuntur assumenda atque quas eius! Blanditiis vel earum ut quaerat error quasi ipsa excepturi culpa!</p>
  </div>
</footer>
