<footer class="footer" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
  <div fxFlex="25%" class="footer__descrizione">
    <h2>Descrizione</h2>
    <p>{{ descrizione }}</p>
  </div>
  <div fxFlex="25%" class="footer__contatti footer__p">
    <h2>Contatti</h2>
    <p>{{ contatti }}</p>
  </div>
  <div fxFlex="25%" class="footer__link_utilo footer__p">
    <h2>Link utili</h2>
    <p>{{ linkUtili }}</p>
  </div>
  <div fxFlex="25%" class="footer__social footer__p">
    <h2>Social</h2>
    <p>{{ social }}</p>
  </div>
  </footer>
