<footer class="footer" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
  <div fxFlex="25%" class="footer__descrizione">
    <h2>Descrizione</h2>
    <p>{{ descrizione }}</p>
  </div>
  <div fxFlex="25%" class="footer__contatti footer__p">
    <h2>Contatti</h2>
    <h3>Programmatori</h3>
    <ul>
      <li>{{ this.nomi.rocchio }}</li>
      <li>{{ this.nomi.alberti }}</li>
      <li>{{ this.nomi.cerbaro }}</li>
      <li>{{ this.nomi.baroni }}</li>
      <li>{{ this.nomi.battistoni }}</li>
    </ul>
    <h3>Grafici</h3>
    <ul>
      <li>{{ this.nomi.tomasini }}</li>
      <li>{{ this.nomi.folgarait }}</li>
    </ul>
  </div>
  <div fxFlex="25%" class="footer__link_utili footer__p">
    <h2>Link utili</h2>
    <i class="fa fa-copyright" aria-hidden="true">Copyright&copy; 2019 MaDe, Marconi</i>
    <p>{{ linkUtili }}</p>
  </div>
  <div fxFlex="25%" class="footer__social footer__p">
    <h2>Social</h2>
    <p>{{ social }}</p>
    <div class="md-icon my-icon-button" aria-label="Bookmark">
      <img src="assets/ico/facebook-ico.png" alt="Bookmark">
    </div>
  </div>
  </footer>