.main-container {
    height: 91%;
}
.mat-sidenav-content{
    left: 20%;
}
.back_home{
    margin: 2%;
}

.ris, .images, .data{
    height: 1300px;
}
.container{
    margin-top: 10px;
}
.ris{
    overflow-y: scroll;
}

.example-sidenav {
    float: none;
}

.container_img{
    height: auto;
    width: auto;
}

.header{
    background-color: #eeeeee11;
    height: 50px;
}

.header__div__img{
    float: right;
    height: 50px;
    margin-top: 1%;
    margin-right: 1%;
}

@media (min-width: 320px) and (max-width: 767px){
   .images, .data{
       display: none;
   }
}
