.example-card {
    max-width: 250px; 
    margin-bottom: 20px;   
}

.example-header-image {   
    background-size: cover;
}

mat-list-item {
    background-color: rgb(87, 109, 81);
    border-radius: 7px;
    margin-bottom: 8px;
    padding-top: 0px !important;
}

.corrente {
    background-color: #8AD676;
}
