.example-card {
    max-width: 250px; 
    margin-bottom: 20px;   
}

.example-header-image {   
    background-size: cover;
}

mat-list-item {
    background-color: rgb(118, 200, 92);
    border-radius: 7px;
    margin-bottom: 8px;
    padding-top: 0px !important;
}

.corrente {
    background-color: rgb(188, 235, 168);
}

.mat-raised-button {
    width: 5px;
    padding: 0;
    right: 0;
}
h4, .mat-raised-button {
    font-family: 'Brandon Text Regular';
}

@media (min-width: 500px) {
    .mat-raised-button{
        display: none;
    }
}