.example-card {
    max-width: 250px; 
    margin-bottom: 20px;   
}

.example-header-image {   
    background-size: cover;
}

mat-list-item {
    background-color: rgb(118, 200, 92);
    border-radius: 7px;
    margin-bottom: 8px;
    padding-top: 0px !important;
}

.corrente {
    background-color: rgb(188, 235, 168);
}
