h1 {
    color:red;
}

.searchTerm{
    width: 100%;
    border: 3px solid #eeeeee11;
    padding: 5px;
    height: 24px;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    background-color: rgba(238, 238, 238, 0.9);
    outline: none;
}

.searchButton{
    height: 40px;
    cursor: pointer;
    outline: none;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    background-color: rgba(238, 238, 238, 0.9);
}

#q_min {
    border-bottom-left-radius: 8px; 
    border-top-left-radius: 8px;
}

#q_max {
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}