<div class="title">
  <h1 class="title_legenda">Legenda</h1>
</div>

<table class="table_info">
  <tr><th>End</th><td>Entità endemica</td></tr>
  <tr><th>Subend</th><td>Entità subendemica</td></tr>
  <tr><th>Alp</th><td>Alpica</td></tr>
  <tr><th>E-Alp</th><td>Est-Alpica</td></tr>
  <tr><th>?</th><td>Attribuzioni dubbia</td></tr>
  <tr><th>≡Italia</th><td>Entità non autoctona in Italia</td></tr>
  <tr><th>≡Baldo</th><td>Entità non autoctona sul M.Baldo</td></tr>
  <tr><th>TN</th><td>Entità spontanea o naturalizzata in provincia di Trento</td></tr>
  <tr><th class="red">TN</th><td>Entità casuale in provincia di Trento</td></tr>
  <tr><th class="grey">TN</th><td>Entità mai segnalata in provincia di Trento (dove potrebbe essere coltivata)</td></tr>
  <tr><th>VR</th><td>Entità spontanea o naturalizzata in provincia di Verona</td></tr>
  <tr><th class="red">VR</th><td>Entità casuale in provincia di Verona</td></tr>
  <tr><th class="grey">VR</th><td>Entità mai segnalata in provincia di Verona (dove potrebbe essere coltivata)</td></tr>
  <tr><th class="black">●</th><td>Segnalazione recente di campagna o d’erbario</td></tr>
  <tr><th class="red">●</th><td>Segnalazione recente di campagna o d’erbario sinantropica o avventizia</td></tr>
  <tr><th>○</th><td>Segnalazione bibliografica o d’erbario “storico” per un quadrante ove mancano dati attuali</td></tr>


  <tr><th>&#8661;</th><td>Escursione altitudinale di crescita</td></tr>
  <tr><th><b>EX</b></th><td>Extincted (estinto)</td></tr>
  <tr><th><b>CR</b></th><td>Critically endangered (gravemente minacciato)</td></tr>
  <tr><th><b>EN</b></th><td>Endangered (minacciato)</td></tr>
  <tr><th><b>VU</b></th><td>Vulnerable (vulnerabile)</td></tr>
  <tr><th><b>LR</b></th><td>Lower Risk (a basso rischio)</td></tr>
  <tr><th><b>DD</b></th><td>Data Deficient (dati insufficienti)</td></tr>
  <tr><th><b>(?)</b></th><td>Attribuzione dubbia</td></tr>
  <tr><th>*taxon</th><td>non autoctono in zona</td></tr>


  <tr><th id="blu">T caesp</th><td>Terofite (piante annuali) cespitose</td></tr>
  <tr><th id="blu">T par</th><td>Terofite parassite</td></tr>
  <tr><th id="blu">T rept</th><td>Terofite reptanti</td></tr>
  <tr><th id="blu">T scap</th><td>Terofite scapose</td></tr>
  <tr><th id="blu">He</th><td>Elofite (piante di palude)</td></tr>
  <tr><th id="blu">I nat</th><td>Idrofite (piante acquatiche) natanti</td></tr>
  <tr><th id="blu">I rad</th><td>Idrofite radicanti</td></tr>
  <tr><th id="blu">G bulb</th><td>Geofite (piante perenni con gemme sotterranee) bulbose</td></tr>
  <tr><th id="blu">G par</th><td>Geofite parassite</td></tr>
  <tr><th id="blu">G rad</th><td>Geofite radicigemmate</td></tr>


  <tr><th id="blu">G rhiz</th><td>Geofite rizomatose</td></tr>
  <tr><th id="blu">H bienn	</th><td>Emicriptofite (piante perenni con gemme a livello del terreno) bienni</td></tr>
  <tr><th id="blu">H caesp</th><td>Emicriptofite cespitose</td></tr>
  <tr><th id="blu">H rept</th><td>Emicriptofite reptanti</td></tr>
  <tr><th id="blu">H ros</th><td>Emicriptofite rosulate</td></tr>
  <tr><th id="blu">H scand</th><td>Emicriptofite scandenti</td></tr>
  <tr><th id="blu">H scap</th><td>Emicriptofite scapose</td></tr>
  <tr><th id="blu">Ch frut</th><td>Camefite (piante legnose con gemme a 20-30 cm dal terreno) fruticose</td></tr>
  <tr><th id="blu">Ch pulv</th><td>Camefite pulvinate</td></tr>
  <tr><th id="blu">Ch rept</th><td>Camefite reptanti</td></tr>


  <tr><th id="blu">Ch scap</th><td>Camefite scapose</td></tr>
  <tr><th id="blu">Ch succ</th><td>Camefite succulente</td></tr>
  <tr><th id="blu">Ch suffr</th><td>Camefite suffruticose</td></tr>
  <tr><th id="blu">NP</th><td>Nano-Fanerofite (arbusti di piccole dimensioni ma con gemme a più di 20-30 cm dal terreno)</td></tr>
  <tr><th id="blu">P caesp</th><td>Fanerofite (alberi e arbusti di grandi dimensioni) cespitose</td></tr>
  <tr><th id="blu">P lian</th><td>Fanerofite lianose</td></tr>
  <tr><th id="blu">P rept</th><td>Fanerofite striscianti</td></tr>
  <tr><th id="blu">P scap</th><td>Fanerofite scapose</td></tr>
</table>
