<div class="title">
    <h1 class="title_legenda">Sigla Erbe</h1>
</div>

<table class="table_erbe">
    <tr><th>B</th><td>Botanischer Garten und Botanisches Museum Berlin-Dahlem, Zentraleinrichtung der Freien Universität Berlin</td></tr>
    <tr><th>BM</th><td>The Natural History Museum, London</td></tr>
    <tr><th>BOCH</th><td>Ruhr-Universität Bochum</td></tr>
    <tr><th>BP</th><td>Hungarian Natural History Museum, Budapest </td></tr>
    <tr><th>BRIX</th><td>Vinzentinum Brixen, Bressanone</td></tr>
    <tr><th>FI</th><td>Museo di Storia Naturale dell’Università di Firenze</td></tr>
    <tr><th>G</th><td>Conservatoire et Jardin botaniques de la Ville de Genève</td></tr>
    <tr><th>GJO</th><td>Steiermärkisches Landesmuseum Joanneum, Graz</td></tr>
    <tr><th>GOET</th><td>Universtität Göttingen</td></tr>
    <tr><th>GZU</th><td>Karl-Franzens-Universität Graz</td></tr>

    <tr><th>HBBS</th><td>Museo Civico di Scienze Naturali, Brescia</td></tr>
    <tr><th>IB</th><td>Universität Innsbruck</td></tr>
    <tr><th>IBF</th><td>Tiroler Landesmuseum Ferdinandeum, Innsbruck</td></tr>
    <tr><th>M</th><td>Botanische Staatssammlung München</td></tr>
    <tr><th>MI</th><td>Università degli Studi di Milano</td></tr>
    <tr><th>PAD</th><td>Università degli Studi di Padova</td></tr>
    <tr><th>PESA</th><td>Centro Ricerche Floristiche Marche, Pesaro</td></tr>
    <tr><th>ROV</th><td>Museo Civico di Rovereto</td></tr>
    <tr><th>TR</th><td>Museo Tridentino di Scienze Naturali, Trento</td></tr>
    <tr><th>TSB</th><td>Università degli Studi di Trieste</td></tr>

    <tr><th>VER</th><td>Museo Civico di Storia Naturale di Verona</td></tr>
    <tr><th>W</th><td>Naturhistorisches Museum Wien</td></tr>
    <tr><th>WU</th><td>Universität Wien</td></tr>
    <tr><th>Z</th><td>Universität Zürich</td></tr>
    <tr><th>Syn.</th><td>Sinonimo</td></tr>
    <tr><th>det.</th><td>Determinatore</td></tr>
    <tr><th>leg.</th><td>Raccoglitore</td></tr>
    <tr><th>rev.</th><td>Revisore</td></tr>
</table>
