/*da nascondere la scroll-bar*/
html{
    overflow-y: hidden;
}
.element::-webkit-scrollbar { 
    width: 0 !important;
    overflow-y: -moz-scrollbars-none;
}
.title_legenda {
    color: white;
    text-align: center;
    font-family: 'Brandon Text Regular';
}
.title{
    background-color: #A7DD8F;
    border-radius: 20px;
    border-bottom: 8px solid rgb(117, 179, 90);
    padding: 1%;
    width: auto;
    margin-top: 2%;
}
.table_info{
    margin-top: 4%;
}
.grey {
    color: grey;
}
.red{
    color: red;
}
.black{
    color: black;
}
th, td{
    font-weight: bold;
    text-align: left;
    border-bottom: 1px solid black;
    padding: 2%;
}
th{
    width: 12%;
}
#blu{
    color:#002b66;
}
@media (min-width: 320px) and (max-width: 767px){
    
}