<h1 class="red">Legenda</h1>
<table border=1>
  <tr><th>End</th><th>Entità endemica</th></tr>
  <tr><th>Subend</th><th>Entità subendemica</th></tr>
  <tr><th>Alp</th><th>Alpica</th></tr>
  <tr><th>E-Alp</th><th>Est-Alpica</th></tr>
  <tr><th>?</th><th>Attribuzioni dubbia</th></tr>
  <tr><th>≡Italia</th><th>Entità non autoctona in Italia</th></tr>
  <tr><th>≡Baldo</th><th>Entità non autoctona sul M.Baldo</th></tr>
  <tr><th>TN</th><th>Entità spontanea o naturalizzata in provincia di Trento</th></tr>
  <tr><th class="red">TN</th><th>Entità casuale in provincia di Trento</th></tr>
  <tr><th class="grey">TN</th><th>Entità mai segnalata in provincia di Trento (dove potrebbe essere coltivata)</th></tr>
  <tr><th>VR</th><th>Entità spontanea o naturalizzata in provincia di Verona</th></tr>
  <tr><th class="red">VR</th><th>Entità casuale in provincia di Verona</th></tr>
  <tr><th class="grey">VR</th><th>Entità mai segnalata in provincia di Verona (dove potrebbe essere coltivata)</th></tr>
  <tr><td class="black">●</td><td>Segnalazione recente di campagna o d’erbario</td></tr>
  <tr><td class="red">●</td><td>Segnalazione recente di campagna o d’erbario sinantropica o avventizia</td></tr>
  <tr><td>○</td><td>Segnalazione bibliografica o d’erbario “storico” per un quadrante ove mancano dati attuali</td></tr>
  <tr><td></td><td></td></tr>
  <tr><td></td><td></td></tr>
  <tr><td></td><td></td></tr>
  <tr><td></td><td></td></tr>
  <tr><td></td><td></td></tr>
  <tr><td></td><td></td></tr>
  <tr><td></td><td></td></tr>
  <tr><td></td><td></td></tr>
  <tr><td></td><td></td></tr>
  <tr><td></td><td></td></tr>
  <tr><td></td><td></td></tr>
  <tr><td></td><td></td></tr>
  <tr><td></td><td></td></tr>
  <tr><td></td><td></td></tr>
  <tr><td></td><td></td></tr>
  <tr><td></td><td></td></tr>
</table>
