<footer class="footer" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">

    <div fxFlex="25" class="footer__descrizione footer__p">
      <h2>Descrizione</h2>
      <p>{{ descrizione }}</p>
    </div>

    <div fxFlex="25" class="footer__contatti footer__p">
      <h2>Contatti</h2>
      <h3>Programmatori</h3>
      <ul>
        <li>{{ this.nomi.rocchio }}</li>
        <li>{{ this.nomi.alberti }}</li>
        <li>{{ this.nomi.cerbaro }}</li>
        <li>{{ this.nomi.baroni }}</li>
      </ul>
      <h3>Grafici</h3>
      <ul>
        <li>{{ this.nomi.tomasini }}</li>
        <li>{{ this.nomi.folgarait }}</li>
      </ul>
    </div>

    <div fxFlex="25" class="footer__link_utili footer__p">
      <h2>Link utili</h2>
      <i class="fa fa-copyright" aria-hidden="true">Copyright&copy; 2019 MaDe, Marconi</i>
      <p>{{ linkUtili }}</p>
    </div>

    <div fxFlex class="footer__social footer__p">
      <h2>Social</h2>
      <ul class="social-icons icon-circle icon-zoom list-unstyled list-inline">
        <!--COMPLETARE I COLLENGAMENTI ALLE RELATIVE PAGINE WEB-->
        <li><a href="https://www.facebook.com/fondazionemuseocivicorovereto/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        <li><a href="https://www.instagram.com/fondazionemuseocivicorovereto/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        <li><a href="https://www.linkedin.com/company/fondazione-museo-civico-di-rovereto?trk=hp-feed-company-name"><i
              class="fa fa-linkedin" aria-hidden="true"></i></a></li>
        <li><a href="https://twitter.com/Museo_Rovereto"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
      </ul>
    </div>
  </footer>