/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@font-face {
    font-family: 'Brandon Text Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Brandon Text Regular'), url('assets/font/BrandonText-Regular.woff') format('woff');
}
