<mat-drawer-container class="example-container" [hasBackdrop]="true" fullscreen>
  <mat-drawer #drawer_1 class="example-sidenav" mode="over">
    <app-project-info></app-project-info>
  </mat-drawer>
  <!-- <mat-drawer #drawer_2 class="example-sidenav" mode="over">
      <app-legenda-erbe></app-legenda-erbe>
  </mat-drawer> -->
  <mat-drawer-content>
    <div class="container_img">
      <header class="header">
        <div class="header__div">
            <button mat-button [matMenuTriggerFor]="menu"><img class="header__div__img" src="../../assets/ico/icona-montagne.png" alt="montagna"></button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="drawer_1.toggle();">Legenda</button>
              <button mat-menu-item (click)="drawer_2.toggle();">Sigle Erbe</button>
            </mat-menu>
          <a href="http://www.fondazionemcr.it/"><img class="header__div__logo" src="../../assets/ico/LOGOFondazioneMCR_200.png" alt="LOGOFondazioneMCR_200"></a>
        </div>
      </header>
    </div>

    <div id="search-bar">
      <form [formGroup]="searchForm">
        <h1 id="ricerca">Flora del Monte Baldo</h1>
        <div fxLayoutAlign="center center">
            <input type="image" src="assets/ico/cerca.png" class="searchButtonImage" (click)="searchImage()">
            <input type="text" class="searchTerm" placeholder="Search..." formControlName="ricerca">
          <input type="image" src="assets/ico/cerca.png" class="searchButton" (click)="cerca()">
        </div>
      </form>
    </div>

    <div fxLayout="column wrap">
      <div class="container_filter">
        <ul>
          <li><input type="image" title="Cerca Famiglia" flex class="fa container__img__setting" aria-hidden="true" (click)="cercaFamiglia()" src="../../assets/ico/icona-famiglia.png" alt="icona-famiglia"></li>
          <li><input type="image" title="Cerca Genere" flex class="fa container__img__setting" aria-hidden="true" (click)="cercaGenere()" src="../../assets/ico/icona-genere.png" alt="icona-genere"></li>
          <li><input type="image" title="Cerca Quote" flex class="fa container__img__setting" aria-hidden="true" (click)="cercaAltitudine()" src="../../assets/ico/icona-altitudine.png" alt="icona-altitudine"></li>
          <li><input type="image" title="Cerca Specie" flex class="fa container__img__setting" aria-hidden="true" (click)="cercaImage()"src="../../assets/ico/icona-specie.png" alt="icona-specie"></li>
        </ul>
      </div>
    </div>

    <app-footer></app-footer>
</mat-drawer-content>