<mat-drawer-container class="example-container" [hasBackdrop]="true" fullscreen>

  <mat-drawer #drawer class="example-sidenav" mode="over">
    <app-project-info></app-project-info>
  </mat-drawer>
  <mat-drawer-content>
    <div class="container_img">
      <header class="header">
        <div class="header__div">
          <img class="header__div__img" src="../../assets/ico/icona-montagne.png" alt="montagna" (click)="drawer.toggle()">
          <img class="header__div__logo" src="../../assets/ico/LOGOFondazioneMCR_200.png" alt="LOGOFondazioneMCR_200">
        </div>
      </header>
    </div>

    <div id="search-bar">
      <form [formGroup]="searchForm">
        <h1 id="ricerca">Flora del Monte Baldo</h1>
        <div [fxLayout]="direction" fxLayoutAlign="center center">
          <input type="text" class="searchTerm" placeholder="Search..." formControlName="ricerca">
          <input type="image" src="assets/ico/cerca.png" class="searchButton" (click)="cerca()">
        </div>
      </form>
    </div>

    <div fxLayout="column wrap" style="margin-top: 10%;">
      <img flex class="fa container__img__setting" aria-hidden="true" src="../../assets/ico/icona-famiglia.png" alt="icona-famiglia">
      <img flex class="fa container__img__setting" aria-hidden="true" src="../../assets/ico/icona-genere.png" alt="icona-genere">
      <img flex class="fa container__img__setting" aria-hidden="true" src="../../assets/ico/icona-altitudine.png" alt="icona-altitudine">
      <img flex class="fa container__img__setting" aria-hidden="true" src="../../assets/ico/icona-specie.png" alt="icona-specie">
    </div>
  </mat-drawer-content>
</mat-drawer-container>