<div class="container_img">
  <header class="header">
    <div class="header__div">
      <img class="header__div__img" src="../../assets/ico/icona-montagne.png" alt="montagna">
    </div>
  </header>

  <div id="search-bar">
    <h1 id="ricerca">Flora del Monte Baldo</h1>
    <div [fxLayout]="direction" fxLayoutAlign="center center">
      <input type="text" class="searchTerm" placeholder="Cosa stai cercando?">
      <INPUT type="image" src="assets/ico/cerca.png" value="" class="searchButton">
    </div>
  </div>

  <div fxLayout="column wrap">
    <img flex class="fa container__img__setting" aria-hidden="true" src="../../assets/ico/icona-famiglia.png" alt="">
    <img flex class="fa container__img__setting" aria-hidden="true" src="../../assets/ico/icona-genere.png" alt="">
    <img flex class="fa container__img__setting" aria-hidden="true" src="../../assets/ico/icona-genere.png" alt="">
    <img flex class="fa container__img__setting" aria-hidden="true" src="../../assets/ico/icona-specie.png" alt="">
  </div>
</div>
