.container_img{
    height: auto;
    width: auto;
}

.example-container{
    background: url('src/assets/ico/HOME_SFONDO.jpg');
    background-repeat: no-repeat;
    z-index: -1; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover; 
    background-size: cover;
    background-position: center; 
    overflow-y: none;
}

#ricerca {
    color: #ffffff;
    width: 500px;
    text-align: center;
    font-family: 'Brandon Text Regular';
}

#search-bar{
   position: absolute;
   top: 30%;
   left: 50%;
}
.searchTerm{
    width: 100%;
    border: 3px solid #eeeeee11;
    padding: 5px;
    height: 24px;
    /*border-bottom-left-radius: 8px;*/
    /*border-top-left-radius: 8px;*/
    background-color: rgba(238, 238, 238, 0.9);
    outline: none;
}

.searchButton{
    height: 40px;
    cursor: pointer;
    outline: none;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    background-color: rgba(238, 238, 238, 0.9);
}

.searchButtonImage{
    height: 40px;
    cursor: pointer;
    outline: none;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    background-color: rgba(238, 238, 238, 0.9);
}

.container__img__setting{
    width: 5%;
    opacity: 0.8;
    padding-left: 15%;
    padding-bottom: 2%; 
    outline: none;
}

.header{
    background-color: #eeeeee11;
    height: 50px;
}
.mat-button{
    position: absolute;
    top: 0;
    right: 0;
    height: 50px;
}
.header__div__img{
    float: right;
    height: 50px;
    margin-top: 1%;
    margin-right: 1%;
}

.example-sidenav {
    float: none;
}
.header__div__logo{
    float: left;
    margin-top: 1%;
    margin-left: 1%;
    height: 60px;
}
.container_filter{
    margin-top: 10%;
}
ul{
    list-style: none;
}

@media (min-width: 320px) and (max-width: 481px) {
    .example-container{
        background: url('../../assets/ico/provastrisce.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        /*background-attachment: fixed;*/
        background-attachment: initial;
        overflow-x: none;
        position: fixed;
    }
    .header__div__logo{
        height: 30%;
        width: 30%;
    }
    /*::ng-deep .mat-menu-panel {width: 100%!important; padding: 0 10px!important;} */
    #search-bar{
        top: 20% !important;
        width: 80% !important;
        left: 0 !important;
        right: 0 !important;
        margin: auto !important;
        height: auto;
        width: auto;
    }
    #ricerca{
        left: 0 !important;
        right: 0 !important;
        text-align: start !important;
    }
    .container__img__setting{
        width: 18% !important;
        padding: 2.5% !important;
        float: right !important;
    }
    .container_filter{
        position: absolute;
        display: inline-block !important;
        bottom: 30% !important;
        left: 0 !important;
        right: 0 !important;
        margin: auto !important;
    }
    .mat-drawer{
        width: 80% !important;
    }
    .example-container{
        height: stretch;
        background-attachment: fixed;
        background-size: 100%;
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
    }
    .clearfix:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
    }
    
    .clearfix {
        display: inline-block;
    }
}
