<mat-list-item>
<ul id="menu">
  <li><h3>Nome Comune:</h3></li>
  <li>{{specie.nome_comune}}</li>
  <li><h3>Nome Latino:</h3></li>
  <li>{{specie.nome_latino}}</li>
  <li><h3>Famiglia:</h3></li>
  <li>{{specie.famiglia}}</li>
  <li><h3>Genere:</h3></li>
  <li>{{specie.genere}}</li>
  <li><h3>Descrizione:</h3></li>
  <li>{{specie.descrizione}}</li>
  <li><h3>Quota Minima:</h3></li>
  <li>{{specie.quota_min}}</li>
  <li><h3>Quota Massima:</h3></li>
  <li>{{specie.quota_max}}</li>
</ul>
</mat-list-item>